<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Values</title>
    </head>
    <body>
        <div class='container'>
        <h1>Scrabble Letter Value Generator</h1>
        <p>Enter the word you would like to find the value of</p>
        <form action='/return'>
            <div class='form-group'>
              <label for='input'>Word:</label>
              <input id='input' name='input' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Score</button>
        </form>
    </div>
    </body>
</html>
